[Unit]
Description=Daemon to start a single-node YugabyteDB process
Documentation=https://docs.yugabyte.com

[Service]
Type=simple
User=yugabyte
Group=yugabyte
LimitNOFILE=65535
ExecStart=/opt/yugabytedb/bin/yb-master --flagfile /etc/yugabytedb/yb-master.conf
PIDFile=/var/lib/yugabytedb/yb-master.pid
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target
